node_modules
.DS_Store
.env
.docusaurus
coverage
build/
dist/
src/base/jst.js
*.cache
aws.json
npm-debug.log
yarn-error.log
package-lock.json
.nx/

# bump
*.bkp

# Vim
*~
*.swp
*.swo

# PhpStorm
.idea

