[data-player] * {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 100%;
  color: #000;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  text-shadow: 0 0 0;
}

[data-player] {
  position: relative;
  margin: 0;
  height: 360px;
  width: 640px;
  text-align: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
[data-player].fullscreen {
  width: 100%;
  height: 100%;
}
[data-player].nocursor {
  cursor: none;
}
