<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script type="text/javascript" charset="utf-8" src="http://cdn.clappr.io/j/vendor/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="http://cdn.clappr.io/j/vendor/underscore-min.js"></script>
  <script type="text/javascript" charset="utf-8" src="http://cdn.clappr.io/latest/clappr.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    window.onload = function() {
      var vars = {}, hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++) {
          hash = hashes[i].split('=');
          vars[decodeURIComponent(hash[0])] = decodeURIComponent(hash[1]);
      }
      var player = new Clappr.Player(vars);
      player.attachTo(document.getElementById('player-wrapper'));
    }
  </script>
  <style>body {margin:0}</style>
</head>
<body>
  <div id="player-wrapper" style="border: 0px;border-radius: 0px;width: 100%;height: 100%">
  </div>
</body>
</html>
 
