[data-no-op] {
  z-index: 1000;
  position: absolute;
  background-color: #222;
  height: 100%;
  width: 100%;
}

[data-no-op] p[data-no-op-msg] {
  position: relative;
  font-size: 25px;
  top: 50%;
  color: white;
}
