@import 'compass/css3';
@import 'fontsmoothing';

@font-face {
  font-family: "Player";
  src: url("http://cdn.clappr.io/latest/assets/Player-Regular.eot");
  src: url("http://cdn.clappr.io/latest/assets/Player-Regular.eot?#iefix") format("embedded-opentype"),
       url("http://cdn.clappr.io/latest/assets/Player-Regular.ttf") format("truetype"),
       url("http://cdn.clappr.io/latest/assets/Player-Regular.svg#player") format("svg");
}

.media-control-notransition {
  @include transition(none !important);
}

.media-control[data-media-control] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .media-control-background[data-background] {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0;
    @include background-image(linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.9)));
    @include transition(all, 0.6s, ease-out);
  }

  .media-control-icon {
    font-family:"Player";
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0;
    speak: none;
    color: #fff;
    opacity: 0.5;
    vertical-align: middle;
    text-align: left;
    padding: 0 6px;
    @include font-smoothing(antialiased);
  }

  .media-control-icon:hover {
    color: white;
    opacity: 0.75;
    text-shadow: rgba(255,255,255,0.8) 0 0 15px;
    @include transition(all, 0.1s, ease-out);
  }

  &.media-control-hide {
    .media-control-background[data-background] {
      opacity: 0;
    }
    .media-control-layer[data-controls] {
      bottom: -50px;
      .bar-container[data-seekbar]{
        .bar-scrubber[data-seekbar] {
          opacity: 0;
        }
      }
    }
  }

  .media-control-layer[data-controls] {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 32px;
    vertical-align: middle;
    @include transition(all, 0.4s, ease-out);

    .media-control-left-panel[data-media-control] {
      position: absolute;
      top: 0;
      left: 10px;
      height: 100%;
    }

    .media-control-center-panel[data-media-control] {
      height: 100%;
      text-align: center;
      line-height: 32px;
    }

    .media-control-right-panel[data-media-control] {
      position: absolute;
      top: 0;
      right: 5px;
      height: 100%;
    }

    button.media-control-button {
      background-color: transparent;
      border: 0;
      margin: 0 8px;
      cursor: pointer;
      display: inline-block;

      &:focus {
        outline: none;
      }

      &[data-play] {
        float: left;
        width: 32px;
        height: 100%;
        &:before { content:"\\e001"; }
      }

      &[data-pause] {
        float: left;
        width: 32px;
        height: 100%;
        &:before { content:"\\e002"; }
      }

      &[data-stop] {
        float: left;
        width: 32px;
        height: 100%;
        &:before { content:"\\e003"; }
      }

      &[data-fullscreen] {
        float: right;
        background-color: transparent;
        border: 0;
        width: 32px;
        height: 100%;
        &:before { content:"\\e006"; }

        &.shrink:before { content:"\\e007"; }
      }

      &[data-hd-indicator] {
        cursor: default;
        float: right;
        background-color: transparent;
        border: 0;
        width: 32px;
        height: 100%;
        opacity: 0;
        &:before { content:"\\e008"; }
        &.enabled {
          opacity: 1.0;
        }
      }

      &[data-playpause] {
        float: left;
        width: 32px;
        height: 100%;
        &:before { content:"\\e001"; }

        &.playing {
          &:before { content:"\\e002"; }
        }

        &.paused {
          &:before { content:"\\e001"; }
        }
      }

      &[data-playstop] {
        float: left;
        width: 32px;
        height: 100%;
        &:before { content:"\\e001"; }

        &.playing {
          &:before { content:"\\e003"; }
        }

        &.stopped {
          &:before { content:"\\e001"; }
        }
      }
    }

    .media-control-indicator {
      &[data-position], &[data-duration] {
        display: inline-block;
        font-size: 10px;
        color: white;
        cursor: default;
        line-height: 32px;
        position: relative;
      }
      &[data-duration] {
        &:before { content: "|"; margin: 0 3px; }
        color: rgba(255, 255, 255, 0.3);
      }
    }

    .bar-container[data-seekbar] {
      position: absolute;
      top: -20px;
      left: 0;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 25px;
      cursor: pointer;

      .bar-background[data-seekbar] {
        width: 100%;
        height: 1px;
        position: relative;
        top: 12px;
        background-color: #666666;

        .bar-fill-1[data-seekbar] {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #c2c2c2;
          @include transition(all, 0.1s, ease-out);
        }

        .bar-fill-2[data-seekbar] {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #005aff;
          @include transition(all, 0.1s, ease-out);
        }

        .bar-hover[data-seekbar] {
          display: none;
          position: absolute;
          top: -3px;
          width: 5px;
          height: 7px;
          background-color: rgba(255,255,255,0.5);
        }
      }

      &:hover {
        .bar-background[data-seekbar] {
          .bar-hover[data-seekbar] {
            display: block;
          }
        }
      }

      &.seek-disabled {
        cursor: default;
      }

      .bar-scrubber[data-seekbar] {
        position: absolute;
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        opacity: 1;
        @include transition(all, 0.1s, ease-out);

        .bar-scrubber-icon[data-seekbar] {
          position: absolute;
          left: 6px;
          top: 6px;
          width: 8px;
          height: 8px;
          border-radius: 10px;
          box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
          background-color: white;
        }
      }
    }

    .drawer-container[data-volume] {
      float: right;
      display: inline-block;
      width: 32px;
      height: 32px;
      cursor: pointer;

      .drawer-icon-container[data-volume] {
        position: absolute;
        bottom: 0;

        .drawer-icon[data-volume] {
          background-color: transparent;
          border: 0;
          width: 32px;
          height: 32px;
          &:before { content:"\\e004"; }

          &.muted {
            &:before { content:"\\e005"; }
          }
        }
      }

      .bar-container[data-volume] {
        width: 32px;
        height: 88px;
        position: absolute;
        bottom: 40px;
        background: rgba(2,2,2,.5);
        border-radius: 4px;

        @include transition(all, 0.2s, ease-out);

        &.volume-bar-hide {
          opacity: 0;
        }

        .bar-background[data-volume] {
          margin-left: 12px;
          background: #6f6f6f;
          border-radius: 4px;
          width: 8px;
          height: 72px;
          position: relative;
          top: 8px;
          overflow: hidden;

          .bar-fill-1[data-volume] {
            position: absolute;
            bottom: 0;
            background: white;
            width: 100%;
            height: 0;
          }
        }

        .bar-scrubber[data-volume] {
          position: absolute;
          bottom: 40%;
          left: 6px;
          width: 20px;
          height: 20px;

          .bar-scrubber-icon[data-volume] {
            position: absolute;
            left: 4px;
            top: 4px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            border: 1px solid #6f6f6f;
            background-color: white;
          }
        }
      }
    }
  }
}
