[data-media-control] {
  position: absolute;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 5px;
  bottom: 7%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  z-index: 1000;
}
