<div data-controls>
  <%
    var render = function(settings) {
      _.each(settings, function(setting) {
        if(setting === "seekbar") { %>
          <div class="seekbar" data-seekbar>
            <div class="seekbar-loaded-wrapper" data-seekbar>
              <div class="seekbar-loaded" data-seekbar></div>
            </div>
            <div class="seekbar-position" data-seekbar>
              <div class="media-control-icon" data-seekbar></div>
            </div>
          </div>
      <% } else if(setting === "volume") { %>
        <div class="volume-wrapper" data-volume>
          <div class="volume-mute-toggle" data-volume>
            <div class="media-control-icon" data-volume></div>
          </div>
          <div class="volume-bar-wrapper" data-volume>
            <div class="volume-bar" data-volume>
              <div class="volume-current" data-volume>
                <div class="volume-scrubber" data-volume></div>
              </div>
            </div>
          </div>
        </div>
      <% } else if (setting === "duration" || setting === "position") { %>
        <div data-<%= setting %>></div>
      <% } else { %>
        <button class="media-control" data-<%= setting %>></button>
      <% }});
    };
    %>
  <% if (settings.left && settings.left.length) { %>
  <div data-left-controls>
    <% render(settings.left); %>
  </div>
  <% } %>
  <% if (settings.right && settings.right.length) { %>
  <div data-right-controls>
    <% render(settings.right); %>
  </div>
  <% } %>
  <% if (settings.default && settings.default.length) { %>
  <div data-default-controls>
    <% render(settings.default); %>
  </div>
  <% } %>
</div>
