<div data-controls>
  <%
    var render = function(settings) {
      _.each(settings, function(setting) {
        if(setting === "seekbar") { %>
          <input type="range" value="0" data-<%= setting %> />
      <% } else if(setting === "volume") { %>
      <span data-volume>
        <input type="range" value="0" data-<%= setting %> orient="vertical" />
      </span>
      <% } else if (setting === "duration" || setting === "position") { %>
        <div data-<%= setting %>></div>
      <% } else { %>
        <button class="media-control" data-<%= setting %>></button>
      <% }});
    };
    %>
  <% if (settings.left && settings.left.length) { %>
  <div data-left-controls>
    <% render(settings.left); %>
  </div>
  <% } %>
  <% if (settings.right && settings.right.length) { %>
  <div data-right-controls>
    <% render(settings.right); %>
  </div>
  <% } %>
  <% if (settings.default && settings.default.length) { %>
  <div data-default-controls>
    <% render(settings.default); %>
  </div>
  <% } %>
</div>
