// Copyright 2014 Globo.com Player authors. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

[data-media-control] {
  position: absolute;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 5px;
  bottom: 7%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  z-index: 1000;
}

[data-controls] {
  position: relative;
  top: 30%;
  left: 12%;
}
