  <param name="movie" value="<%= baseUrl %>/assets/Player.swf">
  <param name="quality" value="autohigh">
  <param name="swliveconnect" value="true">
  <param name="allowScriptAccess" value="always">
  <param name="bgcolor" value="#001122">
  <param name="allowFullScreen" value="false">
  <param name="wmode" value="transparent">
  <param name="tabindex" value="1">
  <param name=FlashVars value="playbackId=<%= playbackId %>" />
  <embed
    type="application/x-shockwave-flash"
    disabled="disabled"
    tabindex="-1"
    enablecontextmenu="false"
    allowScriptAccess="always"
    quality="autohight"
    pluginspage="http://www.macromedia.com/go/getflashplayer"
    wmode="transparent"
    swliveconnect="true"
    type="application/x-shockwave-flash"
    allowfullscreen="false"
    bgcolor="#000000"
    FlashVars="playbackId=<%= playbackId %>"
    src="<%= baseUrl %>/assets/Player.swf">
  </embed>
